<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.mui-textfield.mui-textfield--float-label > label {-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;-o-transition:all .15s ease-out;transition:all .15s ease-out;}</style>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/mui.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/js/mui.min.js"></script>
  </head>

  <body>
   
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter{{HPQR_YANDEX_METRIKA}} = new Ya.Metrika({
                        id:{{HPQR_YANDEX_METRIKA}},
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/{{HPQR_YANDEX_METRIKA}}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table width="100%">
          <tbody><tr class="mui--appbar-height">
            <td class="mui--text-title"><a href="/">Hot Parking (QR)</a></td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a href="/">Главная</a></li>
                <li><a href="register">Регистрация</a></li>
                <li><a href="credits">Благодарности</a></li>
                <li><a href="contact">Контакты</a></li>
              </ul>
            </td>
          </tr>
        </tbody></table>
      </div>
    </header>    

    <div id="content-wrapper" class="mui--text-center">
    <div class="mui--appbar-height"></div>
      <br>
      <br>
            {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="mui-container mui--text-center">        
      </div>
    </footer>

  </body>
</html>
