<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.mui-textfield.mui-textfield--float-label > label {-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;-o-transition:all .15s ease-out;transition:all .15s ease-out;}</style>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/mui.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="/static/js/mui.min.js"></script>

<!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>

<script type="text/javascript">
  VK.init({apiId: API_ID, onlyWidgets: true});
</script>
    
    
    <title>Hot Parking QR</title>
    <meta name="description" content="Парковочный бот" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Парковочный бот">

    <!-- Open Graph data -->
    <meta property="og:title" content="Hot Parking QR" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://{{HPQR_HOST}}/" />
    <meta property="og:image" content="http://{{HPQR_HOST}}/static/img/iphone_help_screenshot_fb.jpg" />
    <meta property="fb:admins" content="100001183843919" />
    <meta property="og:description" content="Вы часто даете свой номер телефона незнакомым людям?
    А людям, которых никогда даже не видели? 
    Тогда вспомните ситуацию, когда приходилось срочно припарковать машину в неудобном месте." />

  </head>

  <body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '557691534435924',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
   
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table width="100%">
          <tbody><tr class="mui--appbar-height">
            <td class="mui--text-title"><a href="/">Hot Parking (QR)</a></td>
            <td align="right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a href="/">Главная</a></li>
                <li><a href="register">Регистрация</a></li>
                <li><a href="credits">Благодарности</a></li>
                <li><a href="contact">Контакты</a></li>
              </ul>
            </td>
          </tr>
        </tbody></table>
      </div>
    </header>    

    <div id="content-wrapper" class="mui--text-center">
    <div class="mui--appbar-height"></div>
      <br>
      <br>
            {% block content %}{% endblock %}
    </div>
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter{{HPQR_YANDEX_METRIKA}} = new Ya.Metrika({
                        id:{{HPQR_YANDEX_METRIKA}},
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/{{HPQR_YANDEX_METRIKA}}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->  

<center>

<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "mini"});
</script>
<br>

<div id="ok_shareWidget"></div>
<script>
!function (d, id, did, st) {
  var js = d.createElement("script");
  js.src = "https://connect.ok.ru/connect.js";
  js.onload = js.onreadystatechange = function () {
  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
    if (!this.executed) {
      this.executed = true;
      setTimeout(function () {
        OK.CONNECT.insertShareWidget(id,did,st);
      }, 0);
    }
  }};
  d.documentElement.appendChild(js);
}(document,"ok_shareWidget","http://www.hpqr.online/","{width:160,height:25,st:'oval',sz:12,ck:2}");
</script>
<br>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hpqr.online/" data-via="AMiniushkin">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br>


<div
  class="fb-like"
  data-share="true"
  data-layout="button"
  data-show-faces="false">
</div>  
</center>
  </body>
</html>
