{% extends "base.html" %}

{% block content %}

<table width="400">  
<td>
        <h1>Thanks to:</h1>
        <p class="lead"><a href="http://jeromeetienne.github.io/jquery-qrcode">jquery.qrcode.js</a></p>  
        <p class="lead"><a href="telegram.org">Telegram</a></p>  
        <p class="lead"><a href="https://github.com/nickoala/telepot">Python framework for Telegram Bot API </a></p>  
        <p class="lead"><a href="https://www.djangoproject.com">   Django</a></p>  
        <p class="lead"><a href="https://github.com">GitHub</a></p>  
        <p class="lead"><a href="https://www.heroku.com">Heroku</a></p>  
        <p class="lead"><a href="http://stackoverflow.com">Stack Overflow</a></p>
</td>
</table>
       
{% endblock %}
