{% extends "base.html" %}

{% block content %}
   
<table width="500">  
<td>   
<p class="text-left">
Вы часто даете свой номер телефона людям, c которыми общаетесь впервые в жизни? (незнакомым людям)
<br>
А людям, которых никогда даже не видели?
<br>
А Вы хотите говорить с ними по телефону?
<br>
<br>
Тогда вспомните ситуацию, когда приходилось срочно припарковать машину в неудобном месте.
<br>
Многие водители в таких ситуациях оставляют свой номер телефона для экстренной связи под лобовым стеклом.
<br>
Кто, как и зачем воспользуется вашим номером телефона - не известно.
<br>
<br>
Но теперь можно быть на связи, не показывая свой номер телефона!
<br>
Для этого мы создали бота в мессенджере Telegram.
<br>
Система проста:
<br>
- Заходите в Telegram по ссылке <a href='http://telegram.me/{{bot_getMe.username}}'>{{bot_getMe.first_name}}</a> и пишите боту "привет".
<br>
- В ответ Вы получаете короткую инструкцию по работе.
<br>
<br>
Или сразу скажите "/make" и он автоматически создаст страницу для печати QR-кода.
<br>
- Распечатайте страницу и оставляйте ее для связи вместо номера телефона.
<br>
- Если человеку нужно с Вами связаться, он сканирует QR-код или переходит по текстовой ссылке на страницу браузера.
<br>
При этом ни кто из вас не узнает чужой номер телефона, т.к. Telegram скрывает его от всех.
<br>
- После чего Вы сразу получаете сообщение в Telegram с текстом "Кто-то ожидает Вас у машины. Когда Вы подойдете?"
<br>
- Вы можете ответить выбрав предложенные варианты на виртуальной клавиатуре или набрав свой вариант вручную.
<br>
- Если кто-то решил подшутить и продолжает слать сообщения, Вы можете на время заблокировать активность по этому коду либо удалить его полностью. 
После этого Вы сможете создать новый QR-код.
<br>
- Вы можете создавать и одновременно использовать до 10 QR-кодов, дав им разные имена. 
Количество создаваемых кодов за историю пользования приложением не ограничено.
<br>
-При необходимости можно запросить у бота список всех зарегистрированных на Ваш номер телефона QR-кодов.
</p>   
</td>   
        
</table>
{% endblock %}
