{% extends "base.html' %}
{% load i18n %}

{% block content %}
   
<center>
<table width="90%" style="max-width: 400px">  
<td>   
<p class="mui--text-left">
{% trans 'Вы часто даете свой номер телефона незнакомым людям?' %}
<br>
{% trans 'А людям, которых никогда даже не видели?' %}
</p>
<p class="mui--text-left">
{% trans 'Тогда вспомните ситуацию, когда приходилось срочно припарковать машину в неудобном месте.' %}
</p>
<p class="mui--text-left">
{% trans 'Многие водители оставляют свой номер телефона для экстренной связи под лобовым стеклом.' %}
{% trans 'Но кто, как и зачем воспользуется вашим номером телефона - не известно.' %}
</p>
<p class="mui--text-left">
{% trans 'Теперь можно быть на связи, не показывая номер своего телефона!' %}
</p>
<p class="mui--text-left">
{% trans 'Для этого мы создали Telegram-бота.' %}
</p>
<p class="mui--text-left">
{% trans 'Система проста:' %}
<br>
{% trans '- Заходите в Telegram по ссылке' %} <a href='http://telegram.me/{{bot_getMe.username}}'>{{bot_getMe.first_name}}</a>{% trans ' и пишите боту "привет".' %}
<br>
{% trans '- В ответ Вы получаете короткую инструкцию по работе.
</p>
<p class="mui--text-left">
<center><img src="/static/img/iphone_help_screenshot_fb.jpg" alt="Hello!"></center>
</p>
<p class="mui--text-left">
{% trans 'Или сразу скажите "/make" и он автоматически создаст страницу для печати QR-кода.' %}
<br>
{% trans '- Распечатайте страницу и оставляйте ее для связи вместо номера телефона.' %}
</p>
<p class="mui--text-left">
<center><img src="/static/img/car_with_qrcode_small.jpg" alt="Hello!"></center>
</p>
<p class="mui--text-left">
<br>
{% trans '- Если человеку нужно с Вами связаться, он сканирует QR-код или переходит по текстовой ссылке на страницу браузера.' %} 
{% trans 'При этом ни кто из вас не узнает чужой номер телефона, т.к. Telegram скрывает его от всех.' %}
</p>
<p class="mui--text-left">
{% trans '- После этого Вы сразу получаете сообщение в Telegram с текстом "Кто-то ожидает Вас у машины. Когда Вы подойдете?"' %}
</p>
<p class="mui--text-left">
{% trans '- Вы можете ответить выбрав предложенные варианты на виртуальной клавиатуре или набрав свой вариант вручную.' %}
</p>
<p class="mui--text-left">
{% trans '- Если кто-то решил подшутить и продолжает слать сообщения, Вы можете на время заблокировать активность по этому коду либо удалить его полностью. ' %}
{% trans 'После этого Вы сможете создать новый QR-код, это абсолютно бесплатно.' %}
</p>
<p class="mui--text-left">
{% trans '- Вы можете создавать и одновременно использовать до 10 QR-кодов, дав им разные имена. ' %}
{% trans 'Количество создаваемых кодов за историю пользования приложением не ограничено.' %}
</p>
<p class="mui--text-left">
{% trans '- При необходимости можно запросить у бота список всех зарегистрированных на Ваш номер телефона QR-кодов.' %}
</p>  
</td>   
        
</table>
</center>


<center>

<script type="text/javascript">
  VK.init({apiId: 5486330, onlyWidgets: true});
</script>
    
<!-- Put this div tag to the place, where the Like block will be -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "mini"});
</script>
<br>

<div id="ok_shareWidget"></div>
<script>
!function (d, id, did, st) {
  var js = d.createElement("script");
  js.src = "https://connect.ok.ru/connect.js";
  js.onload = js.onreadystatechange = function () {
  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
    if (!this.executed) {
      this.executed = true;
      setTimeout(function () {
        OK.CONNECT.insertShareWidget(id,did,st);
      }, 0);
    }
  }};
  d.documentElement.appendChild(js);
}(document,"ok_shareWidget","http://www.hpqr.online/","{width:160,height:25,st:'oval',sz:12,ck:2}");
</script>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hpqr.online/" data-via="AMiniushkin">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br>


<div
  class="fb-like"
  data-share="true"
  data-layout="button"
  data-show-faces="false">
</div>  
</center>
{% endblock %}
