{% extends "base.html" %}

{% block content %}
   
<center>
<table width="90%" style="max-width: 400px">  
<td>   
<p class="mui--text-left">
Вы часто даете свой номер телефона незнакомым людям?
<br>
А людям, которых никогда даже не видели?
</p>
<p class="mui--text-left">
Тогда вспомните ситуацию, когда приходилось срочно припарковать машину в неудобном месте.
</p>
<p class="mui--text-left">
Многие водители оставляют свой номер телефона для экстренной связи под лобовым стеклом.
Но кто, как и зачем воспользуется вашим номером телефона - не известно.
</p>
<p class="mui--text-left">
Теперь можно быть на связи, не показывая номер своего телефона!
</p>
<p class="mui--text-left">
Для этого мы создали Telegram-бота.
</p>
<p class="mui--text-left">
Система проста:
<br>
- Заходите в Telegram по ссылке <a href='http://telegram.me/{{bot_getMe.username}}'>{{bot_getMe.first_name}}</a> и пишите боту "привет".
<br>
- В ответ Вы получаете короткую инструкцию по работе.
</p>
<p class="mui--text-left">
<center><img src="/static/img/iphone_help_screenshot_edited_small.jpg" alt="Hello!"></center>
</p>
<p class="mui--text-left">
Или сразу скажите "/make" и он автоматически создаст страницу для печати QR-кода.
<br>
- Распечатайте страницу и оставляйте ее для связи вместо номера телефона.
</p>
<p class="mui--text-left">
<center><img src="/static/img/car_with_qrcode_small.jpg" alt="Hello!"></center>
</p>
<p class="mui--text-left">
<br>
- Если человеку нужно с Вами связаться, он сканирует QR-код или переходит по текстовой ссылке на страницу браузера. 
При этом ни кто из вас не узнает чужой номер телефона, т.к. Telegram скрывает его от всех.
</p>
<p class="mui--text-left">
- После этого Вы сразу получаете сообщение в Telegram с текстом "Кто-то ожидает Вас у машины. Когда Вы подойдете?"
</p>
<p class="mui--text-left">
- Вы можете ответить выбрав предложенные варианты на виртуальной клавиатуре или набрав свой вариант вручную.
</p>
<p class="mui--text-left">
- Если кто-то решил подшутить и продолжает слать сообщения, Вы можете на время заблокировать активность по этому коду либо удалить его полностью. 
После этого Вы сможете создать новый QR-код, это абсолютно бесплатно.
</p>
<p class="mui--text-left">
- Вы можете создавать и одновременно использовать до 10 QR-кодов, дав им разные имена. 
Количество создаваемых кодов за историю пользования приложением не ограничено.
</p>
<p class="mui--text-left">
-При необходимости можно запросить у бота список всех зарегистрированных на Ваш номер телефона QR-кодов.
</p>  
</td>   
        
</table>
</center>
{% endblock %}
