<!DOCTYPE html>
{% load i18n %}
<html>
<head>
<title>Print</title>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    <!--<script type="text/javascript" src="../jquery.qrcode.min.js"></script>
    -->
    <script type="text/javascript" src="/static/js/jquery.qrcode.js"></script>
    <script type="text/javascript" src="/static/js/qrcode.js"></script>
<center>
<table>
<tr>   
    <table>
    <tr>
    <td>
      <div id="qrcodeCanvas" align="left"></div>
    </td>
    <td>
    <textarea rows="10" cols="30" style="font-size: 16pt" align="right">
Если моя машина Вам мешает, перейдите по ссылке {{message_link}} чтобы отправить мне сообщение или воспользуйтесь QR-кодом.
    </textarea>   
    </td>
    </tr>
    </table>
</tr>
<tr>
    <td>
    <center><h2>{{message_link}}</h2></center>
    </td>
</tr>   
</table>
</center>

    
    <script>	
        jQuery('#qrcodeCanvas').qrcode({
            text	: "{{message_link}}"
        });	
    </script>

</body>
</html>
