{% extends "base.html" %}

{% block content %}
        
    
<table width="90%" style="max-width: 400px">   
<td>       
<p class="mui--text-left"> Скажите привет нашему боту <a href='http://telegram.me/{{bot_getMe.username}}'>{{bot_getMe.first_name}}</a> </p>
<p class="mui--text-left">
<center><img src="/static/img/iphone_help_screenshot_edited_small.jpg" alt="Hello!"></center>
</p>
<p class="mui--text-left"> telegram.org предложит вам зарегистрироваться, если вы этого ещё не сделали.</p>      
</td>
</table>

<!-- {{bot_help_text}} -->
        
  
        
{% endblock %}
